# HP Omen Sequencer Keyboard RGB Control
# Device: 03f0:1f41
SUBSYSTEM=="usb", ATTR{idVendor}=="03f0", ATTR{idProduct}=="1f41", MODE="0660", GROUP="plugdev"
